@page "/profiles"
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Spinner
@using Syncfusion.Blazor.DropDowns
@using System;
@using Atom.HR.Models;
@inject Microsoft.AspNetCore.Components.NavigationManager UriHelper
@inject Atom.HR.WebAssistant.Areas.Storage.PersonProfileService PersonProfileService
@inject Atom.HR.WebAssistant.Areas.Communications.MessageTemplatesService MessageTemplatesService

<div class="row">
    <SfButton IsPrimary="true" OnClick="CreateVacabcy">Добавить профиль</SfButton>
</div>
<div class="row">
    <SfButton IsPrimary="true" OnClick="SendInvite">Отправить приглашение</SfButton>
</div>
<div class="row">
    <SfSpinner @ref="SpinnerObj" Target="#container"></SfSpinner>
    <div id="container">
        <SfGrid DataSource="@GridData" AllowSelection="true" AllowSorting="true" AllowFiltering="true" EnableVirtualization="true" EnableHover="false" Height="600" RowHeight="38">
            <GridEvents OnRecordClick="RecordClick" TValue="PersonProfile"></GridEvents>
            <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
            <GridPageSettings PageSize="40"></GridPageSettings>
            <GridSelectionSettings CheckboxOnly="true" PersistSelection="true"></GridSelectionSettings>
            <GridColumns>
                <GridColumn Type="ColumnType.CheckBox" AllowFiltering="false" AllowSorting="false" Width="60" Visible="true"></GridColumn>
                <GridColumn Field=@nameof(PersonProfile.Id) HeaderText="Id" Visible="true" IsPrimaryKey="true" Width="130"></GridColumn>
                <GridColumn Field=@nameof(PersonProfile.Name) HeaderText="Полное имя" Visible="true" IsPrimaryKey="false" Width="130"></GridColumn>
                <GridColumn Field=@nameof(PersonProfile.TypeCompanyRelation) HeaderText="Источник" Visible="true" IsPrimaryKey="false" Width="130"></GridColumn>
            </GridColumns>
        </SfGrid>
    </div>
</div>


@code {
    public IEnumerable<PersonProfile> GridData { get; set; } = new List<PersonProfile>();
    //public Dictionary<string, PersonProfile> Selected { get; set; } = new Dictionary<string, PersonProfile>();

    public int Value { get; set; } = 1000;
    SfSpinner SpinnerObj;
    string target { get; set; } = "#container";

    private int? index { get; set; } = 0;

    protected override async Task OnInitializedAsync()
    {
        GridData = await PersonProfileService.GetPersonProfilesAsync();
    }

    public void CreateVacabcy()
    {
        UriHelper.NavigateTo($"createprofile");
    }
    public void RecordClick(RecordClickEventArgs<PersonProfile> Args)
    {
        var prjectId = Args.RowData.Id;
        UriHelper.NavigateTo($"/profiles/{prjectId.Replace('/','_')}");
    }

    public async Task SendInvite()
    {
        //MessageTemplatesService.SendInvite(Selected.Select(x=>x.Value).ToList());
        await this.ToastObj.Show(Toast[2]);
    }

    SfToast ToastObj;
    private string ToastPosition = "Right";
    private List<ToastModel> Toast = new List<ToastModel>
    {
        new ToastModel{ Title = "Warning!", Content="There was a problem with your network connection.", CssClass="e-toast-warning", Icon="e-warning toast-icons" },
        new ToastModel{ Title = "Success!", Content="Your message has been sent successfully.", CssClass="e-toast-success", Icon="e-success toast-icons" },
        new ToastModel{ Title = "Error!", Content="A problem has been occurred while submitting your data.", CssClass="e-toast-danger", Icon="e-error toast-icons" },
        new ToastModel{ Title = "Information!", Content="Please read the comments carefully.", CssClass="e-toast-info", Icon="e-info toast-icons" }
    };

}

