@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <div class="main">        
        <div class="top-row px-4 auth">
            <SfComboBox TValue="string" TItem="EmployeeData" CssClass="template" Placeholder="Select a customer" DataSource="@Data">
                <ComboBoxTemplates TItem="EmployeeData">
                    <ItemTemplate>
                        <div>
                            <img class="empImage" src="images/dropdown-list/employees/@((context as EmployeeData).Eimg).png" alt="employee" />
                            <div class="ename"> @((context as EmployeeData).FirstName) </div>
                            <div class="job"> @((context as EmployeeData).Designation) </div>
                        </div>
                    </ItemTemplate>
                    <HeaderTemplate>
                        <div class="header"> <span>Photo</span> <span class="info">Employee Info</span></div>
                    </HeaderTemplate>
                </ComboBoxTemplates>
                <ComboBoxFieldSettings Value="FirstName"></ComboBoxFieldSettings>
            </SfComboBox>
            <LoginDisplay />
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code {
    

    public class EmployeeData
    {
        public string FirstName { get; set; }
        public string Designation { get; set; }
        public string Eimg { get; set; }
    }
    List<EmployeeData> Data = new List<EmployeeData>
{
        new EmployeeData() { FirstName = "Andrew Fuller",  Designation = "Team Lead", Eimg= "7" },
        new EmployeeData() { FirstName = "Anne Dodsworth", Designation = "Developer", Eimg= "1" },
        new EmployeeData() { FirstName = "Janet Leverling", Designation = "HR", Eimg= "3" },
        new EmployeeData() { FirstName = "Laura Callahan", Designation = "Product Manager", Eimg= "2" },
        new EmployeeData() { FirstName = "Margaret Peacock", Designation = "Developer", Eimg= "6" },
        new EmployeeData() { FirstName = "Michael Suyama", Designation = "Team Lead", Eimg= "9" },
        new EmployeeData() { FirstName = "Nancy Davolio", Designation = "Product Manager", Eimg= "4" },
        new EmployeeData() { FirstName = "Robert King", Designation = "Developer", Eimg= "8" },
        new EmployeeData() { FirstName = "Steven Buchanan", Designation = "CEO", Eimg= "10" },
    };
}

